
nav
	a
		img
			width: 100px

.content
	background-color: white
	.container
		.table
			min-height: 100%
			box-shadow: 0px 0px 11px 1px rgba(162, 162, 162, 0.18)

// .image
// 	height: 100%
// 	width: 100%
// 	background-image: url('../../../assets/img/bike.png')
// 	background-size: cover
		

