<div class="container" *ngIf="formR">
  <div class="row">
    <div class="col-md-12">
			<h2 class="text-center my-5">Clients Registration</h2>
			<form class="row">
				<div class="form-group">
					<input id="id" type="hidden" class="form-control" >
				</div>
				<div class="form-group col-md-6">
					<input id="fullname" type="text" class="form-control" placeholder="Full Name*">
				</div>
				<div class="form-group col-md-6">
					<input id="nit" type="text" class="form-control" placeholder="Nit*">
				</div>
				<div class="form-group col-md-6">
					<input id="address" type="text" class="form-control" placeholder="Address*">
				</div>
				<div class="form-group col-md-6">
					<input id="phone" type="text" class="form-control" placeholder="Phone*">
				</div>
				<div class="form-group col-md-4">
					<input id="city" type="text" class="form-control" placeholder="City*">
				</div>
				<div class="form-group col-md-4">
					<input id="state" type="text" class="form-control" placeholder="State*">
				</div>
				<div class="form-group col-md-4">
					<input id="country" type="text" class="form-control" placeholder="Country*">
				</div>
				<div class="form-group col-md-6">
					<input id="creditlim" type="number" class="form-control" placeholder="Credito Limit*">
				</div>
				<div class="form-group col-md-6">
					<input id="avalcredit" type="number" class="form-control" placeholder="Available Credit*">
				</div>
				<div class="form-group col-md-3">
					<input id="visitsperc" type="number" class="form-control" placeholder="Visit Percentage*">
                </div>
                <div class="form-group col-md-12">
					<textarea id="description" type="text" class="form-control" placeholder="Client Description*"></textarea>
				</div>
				<div class="form-group col-md-12">
						<button type="submit" class="btn btn-primary" (click)="sendNew()">Enviar</button>
				</div>
			</form>
    </div>
  </div>
</div>

<div class="container" *ngIf="response">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </div>
        </div>
    </div>
</div>